html {
    touch-action: manipulation;
}

.wrapper-container {
    display: inline-block;
}

.tetris-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: #333333;
}

.board-table {
    border-collapse: separate;
    border-spacing: 0;
}

.board-table td {
    width: 25px;
    height: 25px;
    margin: 0px;
    padding: 0px;
    border: solid 1px white;
    background-color:black;
}

td.block-type-lightblue {
    background-color: #00ffff;
    border-top: 1px #ffffff solid;
    border-left: 1px #ffffff solid;
    border-right: 1px #0a1a1a solid;
    border-bottom: 1px #008080 solid;
}
td.block-type-yellow {
    background-color: yellow;
    border-top: 1px #ffffff solid;
    border-left: 1px #ffffff solid;
    border-right: 1px #0a1a1a solid;
    border-bottom: 1px #008080 solid;
}
td.block-type-green {
    background-color: green;
    border-top: 1px #ffffff solid;
    border-left: 1px #ffffff solid;
    border-right: 1px #0a1a1a solid;
    border-bottom: 1px #008080 solid;
}
td.block-type-red {
    background-color: red;
    border-top: 1px #ffffff solid;
    border-left: 1px #ffffff solid;
    border-right: 1px #0a1a1a solid;
    border-bottom: 1px #008080 solid;
}
td.block-type-blue {
    background-color: blue;
    border-top: 1px #ffffff solid;
    border-left: 1px #ffffff solid;
    border-right: 1px #0a1a1a solid;
    border-bottom: 1px #008080 solid;
}
td.block-type-orange {
    background-color: orange;
    border-top: 1px #ffffff solid;
    border-left: 1px #ffffff solid;
    border-right: 1px #0a1a1a solid;
    border-bottom: 1px #008080 solid;
}
td.block-type-purple {
    background-color: purple;
    border-top: 1px #ffffff solid;
    border-left: 1px #ffffff solid;
    border-right: 1px #0a1a1a solid;
    border-bottom: 1px #008080 solid;
}

.tetris-panel-container {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    color: white;
    background-color: #333333;
}

.tetris-panel-container-padding {
    flex-grow: 1;
}

.tetris-panel-container p {
   margin: 0;
   padding: 0;
}

.tetris-button-panel {
    border-style: none;
    width: 100%;
}

.tetris-button {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: #444444;
}