html {
    touch-action: manipulation;
}

.wrapper-container {
    display: inline-block;
}

.tetris-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: #333333;
}

.board-table {
    border-collapse: separate;
    border-spacing: 0;
}

.board-table td {
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
    border: solid 1px white;
    background-color: black;
}

td.block-type-blue {
    background-color: #00ffff;
    border-top: 1px #ffffff solid;
    border-left: 1px #ffffff solid;
    border-right: 1px #0a1a1a solid;
    border-bottom: 1px #008080 solid;
}